:root{
    --text_color1: rgb(255, 255, 255);
    --text_color2: rgb(208, 214, 249);
    --text_color3: rgb(11, 13, 23);
}

html{
    box-sizing: border-box;
    font-size: 100%;
}

*, *::before, *::after{
    box-sizing: inherit;
}

html, body{
    margin: 0;
    padding: 0;
    width: 100%;
}

body{
    height: 100vh;
    padding: 1.5rem;
}

/* backrgounds */
body{
    padding: 1.5em;
}

.bg_home{
    background: #0B0D17 url("./home/background-home-mobile.jpg") center center no-repeat fixed;
    background-size: cover;
}
.bg_dest{
    background: #0B0D17 url("./destination/background-destination-mobile.jpg") center center no-repeat fixed;
    background-size: cover;
}
.bg_crew{
    background: #0B0D17  url("./crew/background-crew-mobile.jpg") center center no-repeat fixed;
    background-size: cover;
}
.bg_tech{
    background: #0B0D17 url("./technology/background-technology-mobile.jpg") center center no-repeat fixed;
    background-size: cover;
}
/* ---------------------------- */

/* typography */
.bold{
    font-weight: bold;
}

p{
    margin: 0;
}

.nav_text{
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 1rem;
    letter-spacing: 2.7px;
    color: var(--text_color1);
}

.body_text{
    color: var(--text_color2);
    font-family: 'Barlow', sans-serif;
    font-size: 0.9375rem;
    line-height: 1.5625rem;
    text-align: center;
}

.heading1{
    font-size: 5rem;
    line-height: 6.25rem;
    font-family: 'Bellefair', serif;
    color: var(--text_color1);
}

.heading2{
    font-family: 'Bellefair', serif;
    color: var(--text_color1);
    font-size: 3.5rem;
}

.heading3{
    font-family: 'Bellefair', serif;
    color: var(--text_color1);
    font-size: 1.5rem;
}

.heading4{
    font-family: 'Bellefair', serif;
    color: var(--text_color1);
    font-size: 1rem;
} 

.heading5{
    color: var(--text_color2);
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 1rem;
    letter-spacing: 2.7px;
}

.subheading1{
    color: var(--text_color1);
    font-family: 'Bellefair', serif;
    font-size: 1.75rem;
}

.subheading2, .subheading3{
    color: var(--text_color2);
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 0.875rem;
    letter-spacing: 2.35px;
}

.main_button{
    color: var(--text_color3);
    font-family: 'Bellefair', serif;
    letter-spacing: 1.25px;
    font-size: 1.25rem;
}
/* ----------------- */

/*navigation*/
#nav_bar{
    display: flex;
    flex-direction: column;
    position: fixed;
    width: calc(100% - 3rem);
}

.nav_top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 5;
}

.logo{
    transform: scale(.8333);
}

.nav_icon{
    height: 21px;
}

.nav_icon:hover, .main_button:hover{
    cursor: pointer;
}

.hidden{
    display: none;
}

.nav_list{
    list-style: none;
    width: 67.7%;
    height: 100vh;
    align-self: flex-end;
    margin: 0;
    padding-left: 2rem;
    padding-top: 118px;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 4;
    -webkit-backdrop-filter: blur(81.55px);
    backdrop-filter: blur(81.55px);
    
}

.nav_link{
    margin-bottom: 2rem;
    position: relative;
}

.nav_link a{
    text-decoration: none;
}

.active_nav::after{
    content: "";
    display: block;
    position: absolute;
    height: 31px;
    width: 4px;
    background-color: rgb(255, 255, 255);
    right: 0;
    top: -10px;
}

/*Home*/
.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin: 6em 0 5em;
}

.main_button{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    display: block;
    border: none;
    margin: 0 auto;    
}

.main_button::after{
    content: "";
    position: absolute;
    z-index: -1;
    display: none;
    height: 240px;
    width: 240px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, .1036);
    top: 424px;
    left: 68px;

}

.main_button:hover::after{
    cursor: pointer;
    display: block;
}
/* ----------------------- */

/* page base */
.destination, .crew, .technology{    
    width: 100%;
    min-height: 100vh - 1.5rem;
    padding-top: 4em;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page_heading{
    color: var(--text_color1);
    margin-bottom: 2em;
}

.page{
    opacity: 25%;
    word-spacing: 10.5px;
}

/* destination */
.planet_cont{
    margin: 0 auto;
}

.planet_photo{
    display: block;
    width: 170px;
    margin: 0 auto;
}

.planet_nav{
    list-style: none;
    display: flex;
    padding: 0;
    justify-content: center;
    margin: 1.625em auto 1.25em;
    height: 1.75em;
    gap: 1.625rem;
}

.planet_nav a{
    text-decoration: none;
}

.planet_nav a::after{
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    margin-top: 0.75em;
    background-color: var(--text_color1);
    opacity: 0;
}

.planet_nav a:hover::after{
    opacity:50%;
}

.active_planet{
    color: var(--text_color1);
}

.active_planet::after{
    opacity: 1 !important;
}

.description, .travel{
    text-align: center;
}

.description::after{
    content: "";
    display: block;
    margin: 2em auto;
    width: 100%;
    background-color: rgba(56, 59, 75);
    height: 1px;
}

.travel{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 2em;
}

.travel .subheading2{
    margin-bottom: 0.75rem;
}
/*---------------------*/

/* crew */
.crew_cont{
    width: 100%;
    margin: 0;
}

.crew_cont::after{
    content: "";
    display: block;
    background-color: #383B4B;
    height: 1px;
    width: 100%;

}

.crew_nav{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    gap: 1rem;
    margin: 2rem auto;
}

.crew_link{
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, .1744);
}

.crew_link:hover{
    background-color: rgba(255, 255, 255, .5);
    cursor: pointer;
}

.active_crew{
    background-color: rgba(255, 255, 255);
}

.crew_photo{
    height: 222px;
    display: block;
    margin: 0 auto;
}

.crew_title{
    color: rgba(255, 255, 255, .4951);
}

.crew_info{
    text-align: center;
}
.crew_br{
    display: none;
}
.crew_info .heading3{
    margin: .5rem auto 1rem;
}

/* techonology */
.portrait{
    display: none;
}

.tech_cont{
    margin: 0 -1.5rem;
}

.tech_photo{
    width: 100%;
}

.tech_nav{
    list-style: none;
    display: flex;
    gap: 1rem;
    justify-content: center;
    padding: 0;
    margin: 2.125em auto 1.5em;

}

.tech_link{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin: 0;
    width: 2.5em;
    height: 2.5em;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, .25);
}

.tech_link:hover{
    border: 1px solid rgba(255, 255, 255);
}

.active_tech{
    border-color: rgb(255, 255, 255);
    background-color: rgb(255,255,255);
    color: var(--text_color3)
}

.tech_info{
    text-align: center;
    margin-bottom: 3.5625rem;
}

.tech_info .heading3{
    margin: 0.375em auto 0.667em;
}


/* tablet */
/* navigation */
@media (min-width: 40em){
    /* backrgounds */
    .bg_home{
        background:#0B0D17 url("./home/background-home-tablet.jpg")  center center no-repeat fixed;
        background-size: cover;
    }
    .bg_dest{
        background:#0B0D17 url("./destination/background-destination-tablet.jpg") center center no-repeat fixed;
        background-size: cover;
    }
    .bg_crew{
        background: #0B0D17 url("./crew/background-crew-tablet.jpg")  center center no-repeat fixed;
        background-size: cover;
    }
    .bg_tech{
        background: #0B0D17 url("./technology/background-technology-tablet.jpg") center center no-repeat fixed;
        background-size: cover;
    }
    /* ---------------------------- */

    /*typography */
    .nav_count{
         display: none;
    }

    .nav_text{
        font-size: 0.875rem;
        letter-spacing: 2.36px;
    }
    
    .body_text{
        font-size: 1rem;
        line-height: 1.75rem;
    }
    
    .heading1{
        font-size: 9.375rem;
        line-height: 9.375rem;
    }
    
    .heading2{
        font-size: 5rem;
    }
    
    .heading3{
        font-size: 2.5rem;
    }
    
    .heading4{
        font-size: 1.5rem;
    } 
    
    .heading5{
        font-size: 1.25rem;
        letter-spacing: 3.38px;
    }

    .subheading3{
        font-size: 1rem;
        letter-spacing: 2.7px;
    }
    
    .main_button{
        font-size: 2rem;
        letter-spacing: 2px;
    }
    /* ---------------- */

    /* navigation */
    .nav_icon{
        display: none;
    }

    #nav_bar{
        flex-direction: row;
        justify-content: space-between;
    }
    
    .nav_top{
        position: static;
        padding-left: 0.9375rem;
    }

    .logo{
        transform: scale(1);
    }

    .nav_list{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 3em 0  3em;
        width: 58.6%;
        height: 6em;
        background-color: rgba(255, 255, 255, .04);
        text-align: center;
    }
    
    .nav_link{
        height: 100%;
        margin: 0;
        display: flex;
        align-items: center;
    }

    .active_nav::after{
        height: 3px;
        width: 100%;
        bottom: 0;
        top: auto;
    }
    /* home */
    .hero{
        margin: 12.625em auto 9.75em;
    }

    .main_button{
        position: relative;
       height: 242px;
       width: 242px;
    }

    .main_button::after{
        width: 390px;
        height: 390px;
        top: -74px;
        left: -74px;
    }

    /* page base */
    .destination, .crew ,.technology{
        padding: 7em .91em 0;
    }

    /* destination */
    .page_heading{
        align-self: flex-start;
        margin-bottom: 3em;
    } 
    
    .planet_nav{
        margin: 3.3125em auto 2.6875em;
    }
    .planet_photo{
        width: 300px;
    }
    
    .description{
        padding: 0 3.75em 0;
    }

    .travel{
        flex-direction: row;
        gap: 6.18em;
        margin-bottom: 2.375em;
    }

    /* crew */
    .bg_crew{
        padding-bottom: 0;
    }

    .crew_cont::after{
        display: none;
    }

    .crew_cont{
        order: 4;
    }
    
    .crew_nav{
        order: 3;
    }

    .crew_info{
        height: 11.375rem;
    }

    .crew_br{
        display: inline;
    }

    .crew_nav{
        margin: 2.5rem auto;
    }

    .crew_cont{
        display: flex;
        align-items: flex-end;
    }

    .crew_photo{
        min-height: 532px;
        height: 52vh;
    }

    @media (min-height: 1025px){
        .crew_cont{
            position: absolute;
            bottom: 0;
        }
    }

    /* techonology */
    .tech_cont{
        margin: 0 -2.41em;
    }

    .tech_nav{
        margin: 3.5rem auto 2.75rem;
    }

    .tech_info{
        width: 28.625rem;
        margin-bottom: 4.5625rem;
    }

    .tech_info .heading3{
        margin: 1rem auto;
    }
}

/* desktop */
@media (min-width: 75em){
     /* backrgounds */
     .bg_home{
        background: #0B0D17  url("./home/background-home-desktop.jpg")center center no-repeat fixed;
        background-size:cover;
    }
    .bg_dest{
        background: #0B0D17 url("./destination/background-destination-desktop.jpg") center center no-repeat fixed;
        background-size:cover;
    }
    .bg_crew{
        background: #0B0D17 url("./crew/background-crew-desktop.jpg") center center no-repeat fixed;
        background-size: cover;
    }
    .bg_tech{
        background: #0B0D17 url("./technology/background-technology-desktop.jpg") center center no-repeat fixed;
        background-size: cover;
    }
    /* ---------------------------- */

    /*typography */
    .nav_count{
        display: inline;
    }

    .nav_text{
        font-size: 1rem;
        letter-spacing: 2.7px;
    }
    
    .body_text{
        font-size: 1.125rem;
        line-height: 2rem;
    }

    .heading2{
        font-size: 6.25rem;
    }
    
    .heading3{
        font-size: 3.5rem;
    }
    
    .heading4{
        font-size: 2rem;
    } 
    
    .heading5{
        font-size: 1.75rem;
        letter-spacing: 4.75px;
    }

    /* navigation */
    #nav_bar{
        margin-top: 2.5em;
    }

    .nav_top{
        padding-left: 1.9375em;
    }

    .nav_top::after{
        content: "";
        height: 1px;
        width: calc(100% - 57.4375em);
        background-color: rgba(255, 255, 255, .2515);
        position: absolute;
        left: 8.9375em;
        z-index: 2;
    }

    .nav_list{
        width: 53.125em;
        top: 2.5em;
        justify-content: space-between;
        padding-left: 7.6875em;
        padding-right: 10.3125em;
    }

    /* home */
    #home{
        width: 100%;
        height: calc(100vh - 3em);
        min-height: 720px;
        display: flex;
        padding: 0 9.79% 6.6875em 9.79%;
        justify-content: space-between;
        align-items: flex-end;
    }

    .hero{
        margin: 0;
        width: 28.125em;
    }
    .main_button{
        width: 274px;
        height: 274px;
        margin: 0;
    }

    .main_button::after{
        width: 450px;
        height: 450px;
        top: -88px;
        left: -88px;
    }

    /* destinaition */
    .destination{
        flex-direction: row;
        padding: 11.75em 0 5.5em;
        justify-content: center;
        align-items: flex-end;
        gap: 9.8125em;
    }

    .dest_left{
        width: 510px;
        min-height: 576px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .planet_cont{
        align-self: flex-end;
        margin: 0;
    }

    .planet_photo{
        width: 445px;
        margin: 0;
    }

    .dest_right{
        width: 445px;
    }

    .planet_nav{
        justify-content: flex-start;
    }

    .description{
        padding: 0;
    }

    .description::after{
        margin: 3.375em auto 1.75em;
    }

    .description .body_text, .description, .travel {
        text-align: left;
    }

    .travel{
        justify-content: flex-start;
        margin: 0;
    }

    /* grid base */
    .crew , .technology{
        padding-left: 141px;
        display: grid;
        grid-template-columns: repeat(12, 65px);
        grid-template-rows: repeat(4, auto);
        gap: 120px 30px; 
    }
    /* crew */
    .crew_br{
        display: none;
    }

   .page_heading{
    margin: 4.75rem 0 2.125rem;
    grid-area: 1 / 1 / 2 / 6;
    align-self: end;
   }

   .crew_info, .body_text, .tech_info{
    text-align: left;
   }
   .crew_info{
    height: auto;
    grid-area: 2 / 1 / 2 / 8;
    justify-self: start;
   }
   
   .crew_info .body_text, .tech_info .body_text{
    width: 444px;
   }


   .crew_nav{
    grid-area: 3 / 1 / 4 /7;
    margin: 0;
    justify-self: start;
   }

   .crew_cont{
    grid-area: 1 / 7 / 5 / 13;
    justify-self: end;
    align-self: end;
   }

   .crew_photo{
    margin-right: 0;
        width: auto;
        height: auto;
    }

    /* techonology */
    .portrait{
        display: block;
    }
    .landscape{
        display: none;
    }
    .technology .page_heading{
        margin-bottom: 17px;
    }

    .tech_nav{
        grid-area: 2 / 1 / 5 / 3;
        margin: 0;
        align-self: start;
        flex-flow: column;
        gap: 2rem;
    }

    .tech_info{
        width: auto;
        grid-area: 2 / 3 / 5 / 8;
        margin-left: -30px;
        justify-self: start;
    }

    .tech_info .heading3{
        margin: 11px 0 17px;
    }

    .tech_info .body_text{
        margin: 0;
    }

    .tech_cont{
        position: absolute;
        right: 0;
        top: 272px;
        max-width: 515px;
        width: 35.76%;
    }

    .tech_photo{
        height: auto;
        width: 100%;
    }
}